@import "compass";
@import "compass/reset";

/* media query mixin */
@mixin query($size) {
	@if $size == bigtime {
		@media (min-width: 1366px) { @content; }
	} @else if $size == standard {
		@media (max-width: 1366px) { @content; }
	} @else if $size == tablet-landscape {
		@media (max-width: 1024px) { @content; }
	} @else if $size == tablet-portrait {
		@media (max-width: 764px) { @content; }
	} @else if $size == mobile-landscape {
		@media (max-width: 568px) { @content; }
	} @else if $size == mobile-portrait {
		@media (max-width: 320px) { @content; }
	}
}

/* General stuff */
body { font-family: "roboto", sans-serif; }
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* Grid vars */
$container: 1208px;
$gpad: 1px;

/* Setting up all col# classes */
[class*="col"] {
	float: left;
	padding: $gpad;
	@include query(mobile-landscape) {
		padding: $gpad 0;
	}
	&:first-child {
		padding-left: 0;
	}
	&.last {
		padding-right: 0;
		float: right;
	}
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease);
}

/* Grid widths */
.col100 {
	width: 100%;
	@include query(mobile-landscape) {
		width:100%;
	}
}
.col53 {
	width: 53.1%;
	@include query(mobile-landscape) {
		width:100%;
	}
}
.col50 {
	width: 50%;
}
.col46 {
	width: 46.9%;
	@include query(mobile-landscape) {
		width:100%;
	}
}
.col26 {
	width: 26.5%;
	@include query(mobile-landscape) {
		width:50%;
	}
}


.nopad {
	@include query(bigtime) {
		padding: 1px 0 1px 1px;
	}
	@include query(standard) {
		padding: 1px 0 1px 1px;
	}
	@include query(tablet-portrait) {
		padding-left: 1px
	}
	
}
.notop {
	padding-top: 0;
}
.nobot img:first-child {
	margin-bottom: 1px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
.grid {
	position: relative;
}
.row {

	width: 100%;
	position: relative;
	margin: 0 auto;
	max-width: $container;
	@include pie-clearfix;
}
footer {
	height: 100px;
	display:block;
	clear:both;
}
h1 {
	font-size: 4em;
	font-family: "Oswald";
	text-transform: uppercase;
	line-height: 1em;
	margin-top: 1em;
}
p {
	padding: 2em 0;
}