/* line 17, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* media query mixin */
/* General stuff */
/* line 22, ../sass/screen.scss */
body {
  font-family: "roboto", sans-serif;
}

/* line 23, ../sass/screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Grid vars */
/* Setting up all col# classes */
/* line 32, ../sass/screen.scss */
[class*="col"] {
  float: left;
  padding: 1px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 568px) {
  /* line 32, ../sass/screen.scss */
  [class*="col"] {
    padding: 1px 0;
  }
}
/* line 38, ../sass/screen.scss */
[class*="col"]:first-child {
  padding-left: 0;
}
/* line 41, ../sass/screen.scss */
[class*="col"].last {
  padding-right: 0;
  float: right;
}

/* Grid widths */
/* line 51, ../sass/screen.scss */
.col100 {
  width: 100%;
}
@media (max-width: 568px) {
  /* line 51, ../sass/screen.scss */
  .col100 {
    width: 100%;
  }
}

/* line 57, ../sass/screen.scss */
.col53 {
  width: 53.1%;
}
@media (max-width: 568px) {
  /* line 57, ../sass/screen.scss */
  .col53 {
    width: 100%;
  }
}

/* line 63, ../sass/screen.scss */
.col50 {
  width: 50%;
}

/* line 66, ../sass/screen.scss */
.col46 {
  width: 46.9%;
}
@media (max-width: 568px) {
  /* line 66, ../sass/screen.scss */
  .col46 {
    width: 100%;
  }
}

/* line 72, ../sass/screen.scss */
.col26 {
  width: 26.5%;
}
@media (max-width: 568px) {
  /* line 72, ../sass/screen.scss */
  .col26 {
    width: 50%;
  }
}

@media (min-width: 1366px) {
  /* line 78, ../sass/screen.scss */
  .nopad {
    padding: 1px 0 1px 1px;
  }
}
@media (max-width: 1366px) {
  /* line 78, ../sass/screen.scss */
  .nopad {
    padding: 1px 0 1px 1px;
  }
}
@media (max-width: 764px) {
  /* line 78, ../sass/screen.scss */
  .nopad {
    padding-left: 1px;
  }
}

/* line 89, ../sass/screen.scss */
.notop {
  padding-top: 0;
}

/* line 92, ../sass/screen.scss */
.nobot img:first-child {
  margin-bottom: 1px;
}

/* line 96, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 101, ../sass/screen.scss */
.grid {
  position: relative;
}

/* line 104, ../sass/screen.scss */
.row {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1208px;
  *zoom: 1;
}
/* line 38, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 112, ../sass/screen.scss */
footer {
  height: 100px;
  display: block;
  clear: both;
}

/* line 117, ../sass/screen.scss */
h1 {
  font-size: 4em;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 1em;
}

/* line 124, ../sass/screen.scss */
p {
  padding: 2em 0;
}
